{% extends '/tools/logger/logger-base.html' %}

{% block scripts %}
<script defer src="/js/tools/logger/logger.js?v1.0.0"></script>
{% endblock scripts %}

{% block title %}
<title>Logger</title>
{% endblock title %}

{% block body %}
<h1>Event Logger</h1>
<div class="add-event container">
  <label for="event">New Event:</label>
  <input type="text" id="event" name="type" />
  <button id="add-event">Add</button>
</div>
<div class="container log-area">
  <div class="log-grid">
    <h4 class="grid-header">Event</h4>
    <h4 class="grid-header">Last Logged</h4>
    <h4 class="grid-header">24 Hrs</h4>
    <h4 class="grid-header">Stats</h4>
    {% for log in last_logs %}
    <button class="event-logger" data-type="{{ log.event }}">{{ log.event }}</button>
    <p class="last-logged" data-type="{{ log.event }}" id="{{ log.event }}-date">
      {{ log.log_date }}{% if log.log_date != "Never" %}Z{% endif %}</p>
    <p class="count" data-type="{{ log.event }}" id="{{ log.event }}-count">{{ log.count }}</p>
    <div class="stats-link-container">
      <a class="stats-link" href="/tools/logger/stats/{{ log.event }}/">≡</a>
      <a class="stats-link">📊</a>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock body %}

{% block popovers %}
<div class="error-popover" id="error-popover" popover>
  <p class="error-message" id="error-message"></p>
</div>
{% endblock popovers %}
