<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="theme-color" content="#dceff6">
  <link type="text/css" rel="stylesheet" href="/css/tools/logger/reset.css?v1.1.0" />
  <link type="text/css" rel="stylesheet" href="/css/tools/logger/main.css?v1.2.0" />
  {% block styles %}
  {% endblock styles %}
  <script defer src="/js/tools/logger/scope.js?v1.1.0"></script>
  <script defer src="/js/utils/outerResize.js?v1.1.0"></script>
  {% block scripts %}
  {% endblock scripts %}
  <link rel="icon" type="image/svg+xml" sizes="any" href="/icons/tools/logger/logger-icon-any-20260504.svg" />
  <link rel="icon" type="image/ico" sizes="48x48" href="/icons/tools/logger/favicon-48x48-20260504.ico" />
  <link rel="manifest" href="/manifests/tools/logger/logger-20260504.webmanifest" crossorigin="use-credentials" />
  {% block title %}
  {% endblock title %}
</head>

<body>
  <div class="outer" id="outer">
    {% block body %}
    {% endblock body %}
  </div>

  {% block popovers %}
  {% endblock popovers %}
</body>

</html>
