.football-grid {
    display: grid;
    flex: 0 0 auto;
    grid-template-columns: 1fr 1fr;
}

.score-widget {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    margin: 0.5rem;
    padding: 0.25rem;
    border: 0.075rem;
    border-style: solid;
    border-color: silver;
    border-radius: 0.5rem;
    background-color: hsl(219, 79%, 98%);
    user-select: none;
}

.score-widget:hover {
    background-color: hsl(219, 79%, 96%);
}

.team {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1 1 auto;
}

.date-and-time {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex: 1 1 auto;
    font-size: 0.75rem;
}

.team-and-badge {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex: 1 1 auto;
    column-gap: 0.75rem;
}

.team-badge {
    height: 1.25rem;
    width: 1.25rem;
}

.team-name {
    white-space: nowrap;
}

.position {
    display: flex;
    flex-direction: row;
    flex: 0 0 0;
    align-items: center;
    justify-content: space-between;
}

.live-position {
    font-size: 0.5rem;
    padding: 0.1rem 0.2rem;
    margin-left: 0.25rem;
    color: white;
    background-color: hsl(219, 79%, 65%);
}

@media screen and (max-width: 50rem) {
    #content {
        padding: 0.25rem 5rem;
    }

    .football-grid {
        grid-template-columns: 1fr;
    }

    .football-container {
        flex-direction: column;
    }
}

@media screen and (max-width: 50rem) {
    #content {
        padding: 0.25rem;
    }
}

@media screen and (max-width: 40rem) {
    .right-top-level-nav {
        display: flex;
    }
}

#content {
    display: flex;
    flex-direction: column;
    flex: 3 1 0;
    padding: 0.25rem 10rem;
    overflow-y: auto;
  }
  
  @media screen and (max-width: 80em) {
    #content {
        padding: 0.25rem;
    }
  }
  