.table-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.25rem;
}

.header-data {
    color: white;
    background-color: cornflowerblue;
    text-align: left;
}

.team-data {
    color: black;
    background-color: #e8effc;
}

.data {
    padding: 0.5rem 1rem;
}

.sticky-header {
    position: sticky;
    top: -0.25rem;
}

.team-row:hover > .team-data {
    background-color: #d1dffa;
}

.right-align {
    text-align: right;
}

@media screen and (max-width: 65rem) {
    .data {
        padding: 0.5rem 0.75rem;
    }

    .large-table {
        display: none;
    }
}

@media screen and (max-width: 52rem) {
    .data {
        padding: 0.25rem 0.5rem;
    }

    .medium-table {
        display: none;
    }

    .large-table {
        display: none;
    }
}
