<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="description" content="Live betting standings for the Premier League">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link type="text/css" rel="stylesheet" href="/css/reset.css" />
  <link type="text/css" rel="stylesheet" href="/css/football/bet.css" />
  <link rel="preload" href="/images/football/crests/64.png" as="image" type="image/png" fetchpriority="high">
  <link rel="preload" href="/images/football/crests/61.png" as="image" type="image/png" fetchpriority="high">
  <link rel="preload" href="/images/football/crests/73.png" as="image" type="image/png" fetchpriority="high">
  <link href="/icons/football/bet/favicon-48x48.ico" rel="icon" type="image/ico" sizes="48x48" />
  <link rel="manifest" href="/manifests/football/bet.webmanifest" />
  <title>Live Bet Standings</title>
</head>

<body>
  <div class="main">
    <h1 class="title">Premier League Tracker</h1>
    <div class="bet-container">
      <div class="bet-widget" id="bet-widget-0">
        <div class="bet-row">
          <p class="name" id="name-0">-</p>
          <div class="stats stats-2-columns" id="stats-0">
            <p class="live-text" id="live-text-0"></p>
            <p class="stats-title">Pld</p>
            <p class="stats-title">Pts</p>
            <p class="live-score-text" id="live-score-text-0"></p>
            <p class="played" id="played-0">-</p>
            <p class="points" id="points-0">-</p>
          </div>
        </div>
        <div class="bet-row">
          <p class="normal" id="owea-0">-</p>
          <p class="money-negative" id="amounta-0">-</p>
        </div>
        <div class="bet-row">
          <p class="normal" id="oweb-0">-</p>
          <p class="money-positive" id="amountb-0">-</p>
        </div>
        <div class="spacer"></div>
        <div class="bet-row">
          <p class="normal">Best Case</p>
          <p class="money-positive" id="best_case-0">-</p>
        </div>
        <div class="bet-row">
          <p class="normal">Worst Case</p>
          <p class="money-positive" id="worst_case-0">-</p>
        </div>
        <div class="spacer"></div>
        <div class="bet-row">
          <p class="balance" id="balance-0">-</p>
          <p class="money-positive" id="balance-amount-0">-</p>
        </div>
      </div>
      <div class="bet-widget" id="bet-widget-1">
        <div class="bet-row">
          <p class="name" id="name-1">-</p>
          <div class="stats stats-2-columns" id="stats-1">
            <p class="live-text" id="live-text-1"></p>
            <p class="stats-title">Pld</p>
            <p class="stats-title">Pts</p>
            <p class="live-score-text" id="live-score-text-1"></p>
            <p class="played" id="played-1">-</p>
            <p class="points" id="points-1">-</p>
          </div>
        </div>
        <div class="bet-row">
          <p class="normal" id="owea-1">-</p>
          <p class="money-negative" id="amounta-1">-</p>
        </div>
        <div class="bet-row">
          <p class="normal" id="oweb-1">-</p>
          <p class="money-positive" id="amountb-1">-</p>
        </div>
        <div class="spacer"></div>
        <div class="bet-row">
          <p class="normal">Best Case</p>
          <p class="money-positive" id="best_case-1">-</p>
        </div>
        <div class="bet-row">
          <p class="normal">Worst Case</p>
          <p class="money-positive" id="worst_case-1">-</p>
        </div>
        <div class="spacer"></div>
        <div class="bet-row">
          <p class="balance" id="balance-1">-</p>
          <p class="money-positive" id="balance-amount-1">-</p>
        </div>
      </div>
      <div class="bet-widget" id="bet-widget-2">
        <div class="bet-row">
          <p class="name" id="name-2">-</p>
          <div class="stats stats-2-columns" id="stats-2">
            <p class="live-text" id="live-text-2"></p>
            <p class="stats-title">Pld</p>
            <p class="stats-title">Pts</p>
            <p class="live-score-text" id="live-score-text-2"></p>
            <p class="played" id="played-2">-</p>
            <p class="points" id="points-2">-</p>
          </div>
        </div>
        <div class="bet-row">
          <p class="normal" id="owea-2">-</p>
          <p class="money-negative" id="amounta-2">-</p>
        </div>
        <div class="bet-row">
          <p class="normal" id="oweb-2">-</p>
          <p class="money-positive" id="amountb-2">-</p>
        </div>
        <div class="spacer"></div>
        <div class="bet-row">
          <p class="normal">Best Case</p>
          <p class="money-positive" id="best_case-2">-</p>
        </div>
        <div class="bet-row">
          <p class="normal">Worst Case</p>
          <p class="money-positive" id="worst_case-2">-</p>
        </div>
        <div class="spacer"></div>
        <div class="bet-row">
          <p class="balance" id="balance-2">-</p>
          <p class="money-positive" id="balance-amount-2">-</p>
        </div>
      </div>
    </div>
  </div>
  <script src="/js/football/bet.js"></script>
</body>

</html>
