<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link type="text/css" rel="stylesheet" href="/css/reset.css" />
    <link type="text/css" rel="stylesheet" href="/css/football/bet.css" />
    <link href="/icons/favicon.ico" rel="icon" type="image/ico" />
    <title>Live Bet Standings</title>
  </head>
  <body>
    <div class="outer">
      <div class="header">
        <h2>Live Bet Standings</h2>
        <!-- <button id="subscribe-button">Subscribe</button> -->
      </div>
      <div class="main">
        <p>Liverpool: {{ liverpool_points }}</p>
        <p>Chelsea: {{ chelsea_points }}</p>
        <p>Tottenham: {{ tottenham_points }}</p>
        <p>{{ steve_vs_tim }}</p>
        <p>{{ steve_vs_thommo }}</p>
        <p>{{ tim_vs_thommo }}</p>
      </div>
    </div>
  </body>
</html>
