{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="/css/right-nav.css">
<link rel="stylesheet" href="/css/football/football.css">
{% block football_head %}
{% endblock %}
{% endblock %}

{% block sidebar %}
<a href="/football" class="sub-level-nav">Live Scores</a>
<a href="/football/table" class="sub-level-nav">Live PL Table</a>
<a href="/football/matches/8" class="sub-level-nav">August 2022</a>
<a href="/football/matches/9" class="sub-level-nav">September 2022</a>
<a href="/football/matches/10" class="sub-level-nav">October 2022</a>
<a href="/football/matches/11" class="sub-level-nav">November 2022</a>
<a href="/football/matches/12" class="sub-level-nav">December 2022</a>
<a href="/football/matches/1" class="sub-level-nav">January 2023</a>
<a href="/football/matches/2" class="sub-level-nav">February 2023</a>
<a href="/football/matches/3" class="sub-level-nav">March 2023</a>
<a href="/football/matches/4" class="sub-level-nav">April 2023</a>
<a href="/football/matches/5" class="sub-level-nav">May 2023</a>
{% endblock %}
{% block footer %}
<footer>Data sourced from <a href="https://www.football-data.org/" class="link-light" target="_blank">football-data.org</a></footer>
{% endblock %}

{% block scripts %}
{% if live_matches %}
<script src="/js/football/football.js"></script>
{% endif %}
<script src="/js/football/scroll-scores.js"></script>
{% endblock %}
