{% extends "football/football-base.html" %}

{% block title %}<title>Football - {{ title }}</title>{% endblock %}

{% block header %}
<h3 class="header-text">{{ title }}'s Matches</h3>
{% if live_matches %}
<button class="btn btn-primary" id="subscribe-button" disabled="true" hidden="true">Subscribe</button>
{% else %}
{% endif %}
{% endblock %}

{% block content %}
{% if matches|length > 0 %}
<div class="football-grid">
{% for match in matches %}
  <div class="score-widget" id="{{ match.id }}">
    <div class="date-and-time">
      {% if  live_matches %}
      <div class="match-start">{{ match.local_date.strftime('%H:%M %Z') }}</div>
      {% else %}
      <div class="match-start">{{ match.local_date.strftime('%a %d %b %H:%M %Z') }}</div>
      {% endif %}
      {% if live_matches %}
      <div class="match-status"></div>
      {% else %}
      <div class="match-status">{{ match.status }}</div>
      {% endif %}
    </div>
    <div class="team">
      <div class="team-and-badge">
        <img class="team-badge" src="{{ match.home_team.local_crest }}"></img>
        <a class="team-name" href="/football/matches/team/{{ match.home_team.id }}/">{{ match.home_team.short_name }}</a>
      </div>
      {% if live_matches %}
      <div class="home-team-score"></div>
      {% else %}
        {% if match.score.full_time.home == None %}
        <div class="home-team-score">-</div>
        {% else %}
        <div class="home-team-score">{{ match.score.full_time.home }}</div>
        {% endif %}
      {% endif %}
    </div>
    <div class="team">
      <div class="team-and-badge">
        <img class="team-badge" src="{{ match.away_team.local_crest }}"></img>
        <a class="team-name" href="/football/matches/team/{{ match.away_team.id }}/">{{ match.away_team.short_name }}</a>
      </div>
      {% if live_matches %}
      <div class="away-team-score"></div>
      {% else %}
        {% if match.score.full_time.away == None %}
        <div class="away-team-score">-</div>
        {% else %}
        <div class="away-team-score">{{ match.score.full_time.away }}</div>
        {% endif %}
      {% endif %}
    </div>
  </div>
{% endfor %}
</div>
{% else %}
{% if live_matches %}
<h3>No Live Matches Today</h3>
{% else %}
<h3>No Matches for {{ title }}</h3>  
{% endif %}
{% endif %}
{% endblock %}
