{% extends "football/football-base.html" %}

{% block football_head %}
<link rel="stylesheet" href="/css/table.css">
{% block title %}<title>Football - {{ title }}</title>{% endblock %}
{% endblock %}

{% block header %}
<h3 class="header-text">{{ title }}</h3>
{% endblock %}

{% block content %}
<div class="table-container">
  <table>
    <thead class="sticky-header">
      <tr class="header-row">
        <th class="header-data data">Pos</th>
        <th class="header-data data">Team</th>
        <th class="header-data data centre-align">Pld</th>
        <th class="header-data data centre-align medium-table">W</th>
        <th class="header-data data centre-align medium-table">D</th>
        <th class="header-data data centre-align medium-table">L</th>
        <th class="header-data data centre-align large-table">F</th>
        <th class="header-data data centre-align large-table">A</th>
        <th class="header-data data centre-align">GD</th>
        <th class="header-data data centre-align">Pts</th>
        <th class="header-data data centre-align medium-table">Form</th>
      </tr>
    </thead>
    <tbody>
      {% for table_item in table_list %}
      <tr class="data-row">
        <td class="row-data data position">
          <div>{{ table_item.position }}</div>
          {% if table_item.has_started %}
          <div class="{{ table_item.css_class }}">
            {{ table_item.score_string }}
          </div>
          {% endif %}
        </td>
        <td class="row-data data">
          <div class="team-and-badge">
            <img class="team-badge" src="{{ table_item.team.crest }}"></img>
            <a class="team-name" href="/football/matches/team/{{ table_item.team.id }}">{{ table_item.team.short_name }}</a>
          </div>
        </td>
        <td class="row-data data right-align">{{ table_item.played_games }}</td>
        <td class="row-data data medium-table right-align">{{ table_item.won }}</td>
        <td class="row-data data medium-table right-align">{{ table_item.draw }}</td>
        <td class="row-data data medium-table right-align">{{ table_item.lost }}</td>
        <td class="row-data data large-table right-align">{{ table_item.goals_for }}</td>
        <td class="row-data data large-table right-align">{{ table_item.goals_against }}</td>
        <td class="row-data data right-align">{{ table_item.goal_difference }}</td>
        <td class="row-data data right-align">{{ table_item.points }}</td>
        <td class="row-data data medium-table right-align">
          <div class="form-container">
            {% for form_item in table_item.form_list %}
              <div class="form-character {{ form_item.css_class }}">{{ form_item.character }}</div>
            {% endfor %}
          </div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
