<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link type="text/css" rel="stylesheet" href="/css/tools/monitor/reset.css" />
  <link type="text/css" rel="stylesheet" href="/css/tools/monitor/monitor.css" />
  <link rel="icon" type="image/ico" sizes="48x48" href="/icons/tools/monitor/favicon-48x48.ico" />
  <link rel="manifest" href="/manifests/tools/monitor/monitor.webmanifest" />
  <title>Home Monitor</title>
</head>

<body>
  <div class="outer">
    <div class="header">
      <h2>Home Monitor</h2>
    </div>
    {% for data in sensor_data.data %}
    <div class="data-container" id="data-container-{{ data.device_id }}">
      <div class="data">
        <p class="monitor-title">Device:</p>
        <p class="monitor-data" id="device-{{ data.device_id }}"></p>
        <p class="monitor-title">Time:</p>
        <p class="monitor-data" id="time-{{ data.device_id }}"></p>
        <p class="monitor-title">Status:</p>
        <p class="monitor-data" id="status-{{ data.device_id }}"></p>
        <p class="monitor-title">Temperature:</p>
        <p class="monitor-data" id="temperature-{{ data.device_id }}"></p>
        <p class="monitor-title">Humidity:</p>
        <p class="monitor-data" id="humidity-{{ data.device_id }}"></p>
        <div class="canvas-container" id="canvas-container-{{ data.device_id }}"">
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  <script src="/js/tools/monitor/scope.js"></script>
  <script src="/js/tools/monitor/monitor.js"></script>
</body>

</html>
