#blog-container {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    overflow-y: auto;
}

#blog-header-view {
    display: flex;
    flex-direction: column;
    flex: 3 1 0;
    padding: 0.25rem;
    margin-bottom: 2rem;;
    overflow-y: auto;
}

#blog-area {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    padding: 0.25rem;
    overflow-y: auto;
}

#blog-list {
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
    padding: 0.25rem;
    overflow-y: auto;
    min-width: 10rem;
}

.blog-link {
    cursor: pointer;
    user-select: none;
}

@media screen and (max-width: 40em) {
    #blog-area {
        flex-direction: column;
    }

    #blog-header-view {
        flex: 0 1 auto;
        overflow-y: unset;
    }

    #blog-list {
        overflow-y: unset;
    }
}
