services:
  fastapi:
    build: fastapi
    depends_on:
      - mongodb
    volumes:
      - ./website:/app:ro
    ports:
      - "8081:8080"
    restart: always
    extra_hosts:
        - "host.docker.internal:host-gateway"
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"

  go-bet-server:
    build: bet
    depends_on:
      - mongodb
    volumes:
      - ./bet/static:/bet_static:ro
      - ./bet/html:/html:ro
    ports:
      - "8888:8020"
    restart: always
    extra_hosts:
        - "host.docker.internal:host-gateway"
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"

  backend:
    build: backend
    depends_on:
      - mongodb
    volumes:
      - ./backend/src:/src:ro
    restart: always
    extra_hosts:
        - "host.docker.internal:host-gateway"
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"

  mongodb:
    image: mongo
    hostname: mongodb
    ports:
      - 27017:27017
    volumes:
      - db_volume:/data/db:rw
      - db_conf:/data/configdb
    restart: always
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"

volumes:
  db_volume:
  db_conf:
