#markdown-container {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}

#markdown-area {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    height: 100%;
}

/* @media only screen and (max-width: 600px) {
    #markdown-area {
        flex-direction: column;
    }
} */

#markdown-editor {
    padding: 0.25rem;
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
}

#markdown-output {
    padding: 0.25rem;
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
}

textarea.markdown {
    resize: none;
    height: 100%;
}
