{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="/css/markdown/markdown.css">
<link rel="stylesheet" href="/css/markdown/styles.css">
{% endblock %}

{% block header %}
<h3 class="header-text">Markdown Editor</h3>
{% endblock %}

{% block content %}
<div id="markdown-container">
  <div id="markdown-controls">
    <h5 class="no-margin">Live Markdown Editor</h5>
    <button class="btn btn-primary" id="clear-button">Clear</button>
  </div>
  <div id="markdown-area">
    <div id="markdown-editor">
      <textarea id="markdown-editor-textarea" class="markdown"></textarea>
    </div>
    <div id="markdown-output">
    </div>
  </div>
</div>

{% endblock %}

{% block footer %}
<footer>Markdown Editor</footer>
{% endblock %}

{% block scripts %}
<script src="/js/markdown/markdown.js"></script>
{% endblock %}
