{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="/css/markdown/markdown.css?v1.0.0">
<link rel="stylesheet" href="/css/markdown/styles.css?v1.0.0">
{% block scripts %}
<script defer src="https://cdn.jsdelivr.net/npm/mermaid@9/dist/mermaid.min.js"></script>
<script defer src="/js/markdown/markdown.js?v1.0.0"></script>
{% endblock %}
{% block title %}<title>Markdown Editor</title>{% endblock %}
{% endblock %}

{% block header %}
<h3 class="header-text">Markdown Editor</h3>
{% endblock %}

{% block content %}
<div id="markdown-container">
  <div id="markdown-header">
    <h5 class="no-margin">Live Markdown Editor</h5>
    <div id="markdown-controls">
      <button class="btn btn-primary" id="load-button">Load</button>
      <button class="btn btn-primary" id="save-button">Save</button>
      <button class="btn btn-primary" id="clear-button">Clear</button>
    </div>
  </div>
  <div id="title-input-container">
    <input id="title-input" placeholder="Enter Post Title">
  </div>
  <div id="markdown-area">
    <div id="markdown-editor">
      <textarea id="markdown-editor-textarea" class="markdown" placeholder="Input Markdown Here"></textarea>
    </div>
    <div id="markdown-output">
    </div>
  </div>
</div>

<div class="position-fixed bottom-0 end-0 p-3" id="toast-container">
  <div id="saveToast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <!-- <img src="..." class="rounded me-2" alt="..."> -->
      <strong class="me-auto">Saving Data</strong>
      <!-- <small>11 mins ago</small> -->
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body" id="toast-body">
      Data Saved OK
    </div>
  </div>
</div>
{% endblock %}

{% block footer %}
<footer>Markdown Editor</footer>
{% endblock %}
