*, ::before, ::after {
  box-sizing: border-box;
}

body {
  margin: 0rem;
}

#outer {
  padding: 0.3rem;
  display: flex;
  flex-direction: column;
}

#header {
  background-color: dodgerblue;
  color: white;
  padding: 0.7rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

h3 {
  margin-bottom: 0rem;
  margin-left: 0.3rem;
}

#main {
  display: flex;
  flex-direction: row;
  flex: 1 1 auto;
  overflow-y: auto;
}

#sidebar {
  padding: 0.7rem;
  color: white;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  flex: 0 0 auto;
}

#content {
  padding: 0.3rem;
  display: flex;
  flex: 1 1 auto;
  overflow-y: auto;
}

#footer {
  background-color: dodgerblue;
  padding: 0.7rem;
  color: white;
  display: flex;
  flex-direction: row;
}

.btn-primary {
  background-color: dodgerblue;
}
