.main-nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.top-level-nav {
    display: none;
    color: grey;
    padding: 0.75rem;
}

a.top-level-nav {
    text-decoration: none;
}

.sub-level-nav {
    color: grey;
    padding: 0.75rem;
}

a.sub-level-nav {
    text-decoration: none;
}

.sub-level-nav:hover {
    color: dimgrey;
    background-color: hsl(219, 79%, 94%);;
}

.sub-level-nav-container {
    display: flex;
    flex-direction: column;
    z-index: 1;
    width: max-content;
}

@media screen and (max-width: 42rem) {
    #main {
        flex-direction: column;
        position: relative;
    }

    #content {
        margin-top: 3rem;
        padding: 0.25rem;
    }
    
    .main-nav {
        position: absolute;
        width: 2.5rem;
    }

    .top-level-nav {
        display: flex;
    }

    .right-top-level-nav {
        display: none;
    }

    .sub-level-nav-container {
        display: none;
    }

    .main-nav:hover {
        background-color: hsl(219, 79%, 96%);;
    }
    
    .main-nav:hover .sub-level-nav-container {
        display: flex;
        background-color: hsl(219, 79%, 96%);;
    }

    .sidebar {
        overflow-y: visible;
        padding: 0rem;
    }

    .right-nav {
        top: 0rem;
        right: 0rem;
    }
}
