{% extends "base.html" %}

{% block head %}
<title>Tools</title>
<link rel="stylesheet" href="/css/tools/tools.css?v1.0.0">
{% endblock %}

{% block header %}
<h3 class="header-text">Tools</h3>
{% endblock %}

{% block content %}
<a class="tools-link" href="/tools/converter/">Converter</a>
<a class="tools-link" href="/tools/transcoder/">Transcoder</a>
<a class="tools-link" href="/tools/logger/">Logger</a>
<a class="tools-link" href="/tools/monitor/">Monitor</a>
{% endblock %}

{% block footer %}
Tools
{% endblock %}
