html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.main {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #F8F8F8;
    padding: 0.5rem;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-bottom: 0.5rem;
}

.back-button {
    display: inline-block;
    padding: 0.25em 0.5em;
    background: #eee;
    border: 1px solid #bbb;
    border-radius: 0.4em;
    color: #222;
    text-decoration: none;
    font-size: 1em;
    cursor: pointer;
    transition: background 0.2s;
}

.back-button:hover {
    background: #ddd;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap : 0.5rem;
    overflow-y: auto;
}

.location-container {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 0.25rem;
    background-color: white;
    border: 0.075rem solid silver;
    border-radius: 0.5rem;
    padding: 0.5rem;
}

.location-key,
.location-value {
    margin: 0rem 0rem;
    color: #333;
}

.location-value {
    text-align: right;
}
