{% from "football/world-cup/_team_link.html" import world_cup_team_name %}
{% macro world_cup_group_team_list(table_rows, football_root, edition) %}
<ul class="world-cup-group-team-list">
  {% for table_item in table_rows %}
  <li class="world-cup-group-team">
    <img
      class="team-badge"
      src="{{ table_item.team.world_cup_local_crest }}"
      alt="{{ table_item.team.display_name }} crest"
    >
    {{ world_cup_team_name(table_item.team, football_root, edition) }}
  </li>
  {% endfor %}
</ul>
{% endmacro %}
