{% extends "football/football-base.html" %}

{% block scripts %}
{% if is_web_app|default(false) %}
<script defer src="/js/football/pwa.js?v1.0.2"></script>
{% endif %}
{% if enable_live_updates|default(false) %}
<script defer src="/js/football/world_cup_live.js?v1.0.1"></script>
{% endif %}
{% if all_matches_view|default(false) %}
<script defer src="/js/football/world_cup_all_matches_view.js?v1.0.0"></script>
{% endif %}
{% if enable_live_standings|default(false) %}
<script defer src="/js/football/world_cup_standings_live.js?v1.0.0"></script>
{% endif %}
{% endblock %}

{% block football_head %}
<link rel="stylesheet" href="/css/table.css?v1.8.9">
<link rel="stylesheet" href="/css/football/world-cup.css?v1.4.3">
{% if show_edition_selector|default(false) %}
<script defer src="/js/football/world_cup_edition_picker.js?v1.0.0"></script>
{% endif %}
{% block world_cup_head %}{% endblock %}
{% endblock %}
