{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="/css/aircraft_db/aircraft_db.css">
{% endblock %}

{% block header %}
<h2>This is the Aircraft Header</h2>
{% endblock %}

{% block content %}
<div id="aircraft_db_container">
  <div id="aircraft_controls">
    <label for="input_tail_number" class="form_label">Enter Tail Number</label>
    <input type="search" class="form_control" id="input_tail_number">
    <button type="submit" class="btn btn-primary">Search</button>
  </div>
  <div id="aircraft_output">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Property</th>
          <th>Value</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Tail Number</td>
          <td id="registration"></td>
        </tr>
        <tr>
          <td>Mode S Address</td>
          <td id="icao24"></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
{% endblock %}

{% block footer %}
This is the Aircraft Footer
{% endblock %}
