{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="/css/aircraft_db/aircraft_db.css">
{% endblock %}

{% block header %}
<h3 class="header-text">Search the OpenSky Database</h3>
{% endblock %}

{% block content %}
<div id="aircraft_db_container">
  <div id="aircraft_controls">
    <label for="input_tail_number" class="form_label">Enter Tail Number</label>
    <input class="form_control" onkeyup="checkForEnter(event, '/aircraft/tail_no/', 'input_tail_number', parseAircraftData)" id="input_tail_number">
    <button type="submit" class="btn btn-primary" onclick="searchClicked('/aircraft/tail_no/', 'input_tail_number', parseAircraftData)">Search</button>
  </div>
  <div id="aircraft_output">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Property</th>
          <th>Value</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>Tail Number</th>
          <td id="registration"></td>
        </tr>
        <tr>
          <th>Mode S</th>
          <td id="icao24"></td>
        </tr>
        <tr>
          <th>Manufacturer ICAO</th>
          <td id="manufacturericao"></td>
        </tr>
        <tr>
          <th>Manufacturer Name</th>
          <td id="manufacturername"></td>
        </tr>
        <tr>
          <th>Model</th>
          <td id="model"></td>
        </tr>
        <tr>
          <th>Type Code</th>
          <td id="typecode"></td>
        </tr>
        <tr>
          <th>Serial Number</th>
          <td id="serialnumber"></td>
        </tr>
        <tr>
          <th>Line Number</th>
          <td id="linenumber"></td>
        </tr>
        <tr>
          <th>ICAO Aircraft Type</th>
          <td id="icaoaircrafttype"></td>
        </tr>
        <tr>
          <th>Operator</th>
          <td id="operator"></td>
        </tr>
        <tr>
          <th>Operator Call Sign</th>
          <td id="operatorcallsign"></td>
        </tr>
        <tr>
          <th>Operator ICAO</th>
          <td id="operatoricao"></td>
        </tr>
        <tr>
          <th>Operator IATA</th>
          <td id="operatoriata"></td>
        </tr>
        <tr>
          <th>Owner</th>
          <td id="owner"></td>
        </tr>
        <tr>
          <th>Test Reg</th>
          <td id="testreg"></td>
        </tr>
        <tr>
          <th>Registered On</th>
          <td id="registered"></td>
        </tr>
        <tr>
          <th>Registered Until</th>
          <td id="reguntil"></td>
        </tr>
        <tr>
          <th>Status</th>
          <td id="status"></td>
        </tr>
        <tr>
          <th>Built On</th>
          <td id="built"></td>
        </tr>
        <tr>
          <th>First Flight Date</th>
          <td id="firstflightdate"></td>
        </tr>
        <tr>
          <th>Seat Configuration</th>
          <td id="seatconfiguration"></td>
        </tr>
        <tr>
          <th>Engines</th>
          <td id="engines"></td>
        </tr>
        <tr>
          <th>Modes</th>
          <td id="modes"></td>
        </tr>
        <tr>
          <th>ADSB</th>
          <td id="adsb"></td>
        </tr>
        <tr>
          <th>ACARS</th>
          <td id="acars"></td>
        </tr>
        <tr>
          <th>Notes</th>
          <td id="notes"></td>
        </tr>
        <tr>
          <th>Category Description</th>
          <td id="categoryDescription"></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
{% endblock %}

{% block footer %}
<footer>Data sourced from <a href="https://opensky-network.org/" class="link-light" target="_blank">OpenSky</a></footer>
{% endblock %}

{% block scripts %}
<script src="/js/aircraft_db/aircraft_db.js"></script>
{% endblock %}
