.outer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    height: 100vh;
    padding: 0.25rem;
    background-color: hsl(219, 79%, 96%);
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.25rem;
}

.container-border {
    border: 0.075rem;
    border-style: solid;
    border-color: silver;
    border-radius: 0.5rem;
}

.details-container {
    display: grid;
    white-space: nowrap;
    grid-template-columns: auto 1fr;
    width: 100%;
    overflow-y: scroll;
    padding: 0.25rem 0rem;
}

.key-value-wrapper {
    display: contents;
}

.key-value-wrapper:hover > * {
    background-color: hsl(219, 79%, 79%);
}

.data-key {
    padding: 0rem 0.25rem;
    user-select: none;
}

.data-value {
    padding: 0rem 0.25rem;
    text-align: right;
    user-select: none;
}

.data-value-left {
    padding: 0rem 0.25rem;    
    text-align: left;
    user-select: none;
}

.progress-area {
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: hsl(219, 79%, 85%);
    margin: 0.25rem;
    margin-bottom: 0.5rem;
    padding: 0.25rem;
}

.conversion-progress {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 0.25rem;
}

#file-progress {
    width: 100%;
}
