.outer {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: hsl(219, 79%, 96%);
    height: 100vh;
    max-height: -webkit-fill-available;
    max-height: -moz-available;
}

.container {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    padding: 0.5rem;
    border: 0.075rem;
    border-style: solid;
    border-color: silver;
    border-radius: 0.5rem;
    background-color: hsl(219, 79%, 90%);
    width: 100%;
}

.add-event {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex: 0 0 auto;
}

.add-event > * {
    margin-right: 0.25rem;
}

.log-area {
    padding: 0rem 0.5rem 0.25rem;
    margin-bottom: 0rem;
    flex: 1 1 auto;
    overflow-y: scroll;
}

.log-grid {
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    row-gap: 0.25rem;
    column-gap: 0.5rem;
}

.log-grid > p {
    align-content: center;
}

.stats-grid {
    display: grid;
    grid-template-columns: 1fr auto;
    row-gap: 0.25rem;
    column-gap: 0.5rem;
}

.stats-grid > p {
    align-content: center;
}

.grid-header {
    padding: 0.25rem 0rem;
    background-color: hsl(219, 79%, 90%);
    position: sticky;
    top: 0rem;
}

button {
    padding: 0.075rem 0.5rem;
    border: 0.075rem;
    border-style: solid;
    border-color: silver;
    border-radius: 0.5rem;
    background-color: hsl(219, 79%, 98%);
}

button.event-logger {
    font-size: 1.5rem;
}

.stats-link-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.stats-link {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    padding-left: 0.125rem;
    padding-right: 0.125rem;
}

.stats-button {
    color: black;
    font-size: 1.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-right: 0.25rem;
}

.error-popover {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    padding: 0.5rem;
    border: 0.075rem;
    border-style: solid;
    border-color: red;
    border-radius: 0.5rem;
    background-color: hsl(0, 79%, 96%);
}

.edit-popover {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    padding: 0.5rem;
    border: 0.075rem;
    border-style: solid;
    border-color: blue;
    border-radius: 0.5rem;
    background-color: hsl(219, 79%, 96%);
}

.delete-popover {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    padding: 0.5rem;
    border: 0.075rem;
    border-style: solid;
    border-color: red;
    border-radius: 0.5rem;
    background-color: hsl(0, 79%, 96%);
}

.button-div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-top: 0.25rem;
}

.button-div > * {
    margin-right: 0.25rem;
}

@media screen and (max-width: 768px) {
    .add-event {
        justify-content: center;
    }
}
