.outer {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: hsl(219, 79%, 96%);
    height: 100vh;
}

.container {
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    border: 0.075rem;
    border-style: solid;
    border-color: silver;
    border-radius: 0.5rem;
    background-color: hsl(219, 79%, 90%);
    width: 100%;
}

.add-event {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.add-event > * {
    margin-right: 0.25rem;
}

.log-area {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 0.5rem;
}

p.last-logged {
    margin: 0;
    padding: 0;
    align-content: center;
}

button {
    padding: 0.075rem 0.5rem;
    border: 0.075rem;
    border-style: solid;
    border-color: silver;
    border-radius: 0.5rem;
    background-color: hsl(219, 79%, 98%);
}

button.event-logger {
    font-size: 1.5rem;
}

@media screen and (max-width: 768px) {
    .add-event {
        justify-content: center;
    }
}
