.outer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    height: 100vh;
    padding: 0.25rem;
    background-color: hsl(219, 79%, 98%);
    border: 0.25rem solid white;
}

.header {
    padding: 0.25rem;
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    height: 100%;
    overflow-y: scroll;
}

.data-container {
    display: flex;
    flex-direction: column;
    flex: 1 0 0;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%;
    background-color: hsl(219, 79%, 94%);
    overflow-y: scroll;
    margin: 0rem 0.25rem;
    padding: 0.25rem;
}

.container-border {
    border: 0.075rem;
    border-style: solid;
    border-color: silver;
    border-radius: 0.5rem;
}

.data-header {
    display: grid;
    white-space: nowrap;
    grid-template-columns: auto 1fr;
    width: 100%;
    padding: 0.25rem;
}

.data-header-right {
    text-align: right;
}

.details-container {
    display: grid;
    white-space: nowrap;
    grid-template-columns: auto 1fr;
    width: 100%;
    overflow-y: scroll;
    padding: 0.25rem 0rem;
}

.details-container-reversed {
    grid-template-columns: 1fr auto;
}

.key-value-wrapper {
    display: contents;
}

.key-value-wrapper:hover > * {
    background-color: hsl(219, 79%, 85%);
}

.data-key {
    padding: 0rem 0.25rem;
    user-select: none;
}

.data-value {
    padding: 0rem 0.25rem;
    text-align: right;
    user-select: none;
}

.data-value-left {
    padding: 0rem 0.25rem;    
    text-align: left;
    user-select: none;
}

#conversion-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin: 0rem;
    padding: 0rem;
    overflow-x: scroll;
}

.conversion-button {
    background-color: hsl(219, 79%, 85%);
    border: 0rem;
    padding: 0.25rem 0.5rem;
    font-size: 1.1rem;
    font-weight: bold;
    color: hsl(210, 11%, 45%);
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    white-space: nowrap;
}

.active {
    background-color: hsl(219, 79%, 94%);
    color: hsl(210, 11%, 15%);
}

.progress-area {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: hsl(219, 79%, 94%);
    margin: 0.25rem;
    margin-bottom: 0.5rem;
    padding: 0.25rem;
}

.conversion-progress {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 0.25rem;
}

.filename {
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

#file-progress {
    width: 100%;
}

@media screen and (max-width: 46rem) {
    .main {
        flex-direction: column;
        align-items: stretch;
    }

    .data-container {
        margin-bottom: 0.5rem;
    }

    .data-value-left {
        text-align: right;
    }
}
