#aircraft_db_container {
    padding: 0.3rem;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    overflow-y: auto;
}

#aircraft_controls {
    padding: 0.3rem;
    display: flex;
    flex-direction: row;
    flex: 0 0 auto;
    justify-content: left;
    align-items: center;
}

.search-controls {
    /* padding: 0.3rem; */
    display: flex;
    flex-direction: row;
    flex: 0 0 auto;
    justify-content: left;
    align-items: center;
}

#input_tail_number {
    width: 10rem;
    margin-left: 0.3rem;
    margin-right: 0.3rem;
}

#aircraft_output {
    padding: 0.3rem;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    overflow-y: auto;
}

@media screen and (max-width: 40em) {
    #aircraft_controls {
        flex-direction: column;
        flex: 1 1 auto;
        align-items: flex-start;
    }

    #aircraft_controls > * {
        margin: 0.25rem;
    }
}
