p.monitor-title {
    font-weight: bold;
    margin: 0;
}

p.monitor-data {
    margin: 0;
    align-self: flex-end;
}

.outer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    height: 100vh;
    padding: 0.25rem;
    background-color: hsl(219, 79%, 96%);
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.25rem;
}

.data-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.25rem;
    border: 1px solid silver;
    border-radius: 0.25rem;
    margin: 0.25rem;
    background-color: hsl(219, 79%, 94%);
}

.data-container:hover {
    background-color: hsl(219, 79%, 92%);
}

.data {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 1rem;
    padding: 0.25rem;
}

.chart-canvas {
    width: 100%;
    grid-column: span 2;
}